<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h3 class="text-center">
        <strong>本当に退会しますか？</strong>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-5">
      <p class="text-center">
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 offset-md-4 mt-3">
      <%= link_to "退会しない", show_path, class: "btn btn-outline-primary" %>
    </div>
    <div class="col-md-3 mt-3">
      <%= link_to "退会する", out_path, class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>