<div class="card">
  <img src="assets/about_cake.jpeg", style="width: 100%; height: 100%;">
  <div class="card-img-overlay">
    <h5 class="text-center">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しています。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </h5>
  </div>
</div>
