
<div class="col-md-8 offset-md-1">
  <h1>About</h1>
	<p class="main-text">
		ながのCAKEは全国発送可能なケーキ屋さんです。<br>
		様々なバリエーションをご用意しております。<br>
		また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
		ぜひご注文ください。<br>
	</p>
 </div>

  <img src="/assets/milk1.jpg" class="img-fluid">


</div>