<footer style="margin-top: auto;">
  <div style="background-color: #800000;">
    <div class="row">
      <div class="mx-auto">
        <%= image_tag("nagano_cake.jpg") %>
      </div>
    </div>
  </div>
</footer>
